{% extends "base.html" %}
{% load static %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/faculty_dash.css'%}">  {% endblock %}
{% block extra_js %} <script src="{% static 'js/faculty_script.js'%}"></script>  {% endblock %}


{% block content %}
    <!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img class="img" src="{% static 'images/logo.png' %}" alt="" width="50" height="50">
			<span class="text">Welcome, Faculty</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="{% url 'dashboard' %}">
					<i class='bx bxs-dashboard' ></i>
					<span class="text ">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="{% url 'borrow' %}">
					<i class='bx bxs-box'></i>
					<span class="text">Borrow</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Return</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bx-list-ul'></i>
					<span class="text">All Equipment</span>
				</a>
			</li>
			<li class="active">
				<a href="{% url 'student-record'%}">
					<i class='bx bxs-group' ></i>
					<span class="text">Student Record</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="{% url 'logout' %}" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="name">
				<h5>Hello! {{ user.username }}</h5>
			</a>
			<a href="#" class="profile">
				<!-- Check if the user has a profile picture -->
				{% if user.profile_picture %}
					<img src="{{ user.profile_picture.url }}">
				{% else %}
					<img src="{% static 'images/users.jpg' %}">
				{% endif %}
			</a>
		</nav>
		<!-- NAVBAR -->


		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Student Record</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Student Record</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Student</a>
						</li>
					</ul>
				</div>
			</div>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<div class="dropdown">
							<div class="select">
								<span class="selected">All Students</span>
								<div class="caret"></div>
							</div>
							<ul class="menu">
								<li class="active">All Students</li>
								<li>1st Year</li>
								<li>2nd Year</li>
								<li>3rd Year</li>
								<li>4th Year</li>
							</ul>
						</div>
					</div>
					<table>
						<thead>
							<tr>
								<th>Student ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Course</th>
								<th>Year</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for student in students %}
							<tr>
								<td>{{ student.student_id }}</td>
								<td>{{ student.first_name }}</td>
								<td>{{ student.last_name }}</td>
								<td>{{ student.course }}</td>
								<td>{{ student.year }}</td>
								<td>
									<button class="btn"><i class='bx bx-show'></i></button>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<!-- <div class="pagination">
						<div><i class="fa-solid fa-angles-left"></i></div>
						<div><i class="fa-solid fa-chevron-left"></i></div>
						<div>1</div>
						<div>2</div>
						<div><i class="fa-solid fa-chevron-right"></i></div>
						<div><i class="fa-solid fa-angles-right"></i></div>
					</div> -->
					<div class="pagination">
						{% if students.has_previous %}
						<a href="?page=1" class="nav-link"><i class="fa-solid fa-angles-left"></i></a>
						<a href="?page={{ students.previous_page_number }}" class="nav-link"><i class="fa-solid fa-chevron-left"></i></a>
						{% endif %}
						{% for num in students.paginator.page_range %}
							{% if students.number == num %}
								<span class="page-link current-page " data-page="{{ num }}">{{ num }}</span>
							{% else %}
								<a href="?page={{ num }}" class="page-link nav-link">{{ num }}</a>
							{% endif %}
						{% endfor %}
						{% if students.has_next %}
						<a href="?page={{ students.next_page_number }}" class="nav-link"><i class="fa-solid fa-chevron-right"></i></a>
						<a href="?page={{ students.paginator.num_pages }}" class="nav-link"><i class="fa-solid fa-angles-right"></i></a>
						{% endif %}
					</div>
					
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
{% endblock content %}