<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multiple user login</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
      <div class="container">
        <h1>Faculty and BITS</h1>
        <p>Welcome to clearance system</p>
        <button><a href="{% url 'login_bits' %}">BITS LOGIN</a></button>
        <button><a href="{% url 'login_faculty' %}">FACULTY LOGIN</a></button>
      </div>
  </body>
</html>