<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/bits_login.css'%}" />
    <title>Bits Login</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="" method="POST" class="sign-in-form">
          {% csrf_token %}
            <h2 class="title">BITS Login</h2>
            <span class="mb-0 text-muted">
              {% if msg %}
                  {{ msg | safe }}
              {% else %}
                  Login page
              {% endif %}
          </span>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{form.username}}
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              {{form.password}}
            </div>
            <input type="submit" value="Login" class="btn solid" />
            </div>
          </form>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Welcome, Bits</h3>
            <p>
              Click the button below to proceed Faculty login!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              <a href="{% url 'login_faculty' %}" class="faculty">Faculty Login</a>
            </button>
          </div>
          <img src="{% static 'images/log.svg'%}" class="image" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
